<div class="modal" id="AjaxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {#nothing#}
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                </div>
            </div>
            <div class="modal-footer">
                {#nothing#}
            </div>
        </div>
    </div>
</div>
