<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="loadingModalDialog" role="document">
        <div class="modal-content" id="loadModalContent">
            <div class="modal-header">
                {#nothing#}
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                </div>
            </div>
            <div class="modal-footer">
                {#nothing#}
            </div>
        </div>
    </div>
</div>
