<div class="modal-content" id="loadModalContent">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting Treatment</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        Are You sure to delete {{ treatment.name }} ?
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                Close
            </button>
        </div>
        {{ form(deleteTreatmentForm) }}
        {{ form_end(deleteTreatmentForm) }}
    </div>
</div>
