{{ form_start(form) }}
 {% for message in app.flashes('alert') %}
     <div class="row justify-content-center">
         <div class="col">
             <div class="alert alert-danger alert-dismissible fade show text-center" data-auto-dismiss>
                 {{ message | raw }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
         </div>
     </div>
 {% endfor %}
{{ form_end(form) }}
