{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block main %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit SPA</h6>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-xl-6 col">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="text-center">
                        <button class="btn btn-warning" type="submit">Edit</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


